In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\asus\CareerFoundry\Instacart Basket Analysis'

In [ ]:
#"C:\Users\asus\CareerFoundry\Instacart Basket Analysis\02 Data\Prepared Data\orders_products_merged.pkl"
ords_prods = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

In [ ]:
ords_prods.head()

In [ ]:
ords_prods_WO_unnamed1 = ords_prods.drop(columns = ['Unnamed: 0.1'])

In [ ]:
ords_prods_WO_unnamed1.head()

In [ ]:
ords_prods_cleaned = ords_prods_WO_unnamed1.drop(columns = ['Unnamed: 0_x'])

In [ ]:
ords_prods_cleaned.head()

In [ ]:
ords_prods_cleaned.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

In [3]:
ords_prods_merge = pd.read_pickle(os.path.join(path,'02 Data', 'Prepared Data', 'orders_products_customer_merged.pkl'))

In [4]:
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,frequency_flag,first_name,last_name,gender,state,age,date_joined,number_of_dependants,marital_status,income
0,2539329,1,1,2,8,NaN,196,1,0,both,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
1,2398795,1,2,3,7,15.0,196,1,1,both,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
2,473747,1,3,3,12,21.0,196,1,1,both,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
3,2254736,1,4,4,7,29.0,196,1,1,both,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
4,431534,1,5,4,15,28.0,196,1,1,both,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423

In [ ]:
#ords_prods_cleaned = ords_prods_WO_unnamed1.drop(columns = ['Unnamed: 0_x'])
ords_prods_cust_cleaned = ords_prods_merge.drop(columns = ['Unnamed: 0'])

In [ ]:
ords_prods_cust_cleaned.head()

In [ ]:
#ords_prods_merged_cust.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_customer_merged.pkl'))
ords_prods_cust_cleaned.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_customer_merged.pkl'))