# Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import os

# importing DataFrames

In [2]:
# df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)
path = r'C:\Users\asus\CareerFoundry\Instacart Basket Analysis'

In [4]:
ords_prods_combined = pd.read_pickle(r'C:\Users\asus\CareerFoundry\Instacart Basket Analysis\02 Data\Prepared Data\orders_products_combined.pkl')

In [5]:
ords_prods_combined.shape

(32434489, 12)

In [10]:
ords_prods_combined.tail()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
32434484,3421081,3421081,2977660,206209,13,1,12,7.0,14197,5,1,both
32434485,3421081,3421081,2977660,206209,13,1,12,7.0,38730,6,0,both
32434486,3421081,3421081,2977660,206209,13,1,12,7.0,31477,7,0,both
32434487,3421081,3421081,2977660,206209,13,1,12,7.0,6567,8,0,both
32434488,3421081,3421081,2977660,206209,13,1,12,7.0,22920,9,0,both

In [6]:
df_prods_checked = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'Prods_checked.csv'), index_col = False)

In [7]:
df_prods_checked.shape

(49672, 6)

In [11]:
df_prods_checked.tail()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
49667,49688,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3
49668,49689,49685,En Croute Roast Hazelnut Cranberry,42,1,3.1
49669,49690,49686,Artisan Baguette,112,3,7.8
49670,49691,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8,4.7
49671,49692,49688,Fresh Foaming Cleanser,73,11,13.5

# Merging Data Frames

In [16]:
df_merge_larger_opc = ords_prods_combined.merge(df_prods_checked, on = 'product_id')

In [17]:
df_merge_larger_opc.head()

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices
0,0,0,2539329,1,1,2,8,NaN,196,1,0,both,195,Soda,77,7,9.0
1,1,1,2398795,1,2,3,7,15.0,196,1,1,both,195,Soda,77,7,9.0
2,2,2,473747,1,3,3,12,21.0,196,1,1,both,195,Soda,77,7,9.0
3,3,3,2254736,1,4,4,7,29.0,196,1,1,both,195,Soda,77,7,9.0
4,4,4,431534,1,5,4,15,28.0,196,1,1,both,195,Soda,77,7,9.0

In [18]:
df_merge_larger_opc['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

# Exporting Via Pickle

In [19]:
df_merge_larger_opc.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))